@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gideon+Roman&family=Rowdies&display=swap');

*{
  font-family: 'Gideon Roman', cursive;
}

#puro{
 font-family: 'Rowdies', cursive;


}
#trail{
  font-family: 'Bebas Neue', cursive;

}
.categories ul li a{
  color: black;
}
.categories ul li a{
  text-decoration: none; 
}
.categories ul li a:hover{
  font-size:30px;
  font-size-adjust: 20px;
}
.navbar-nav li a {
  color: white;
}
/* #dropmenu li a{
  color: black;
} */
.content-footer{
  color: white;
}

.form-con{
  width: 40rem;
}
.form-con1{
  width: 50rem;
}
.postbtn{
  display: block;
  margin-left: 30rem;
  
}
.postbtn a{
  color: white;
  text-decoration: none;
}
img{
  width: auto;
}
.display-pitch{
  list-style: none;
}
.form-con {
  width: 200px;
}
