<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
  <title>PuroTrail</title>
</head>
<body>
  
  <!-- Section for the navbar -->
  <nav class="navbar navbar-expand-lg bg-dark text-light ">
    <div class="container-fluid ">
    <a class="navbar-brand" style="color: white;"href="#"><span id="puro">Puro</span><br><span id ="trail">TRAIL</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mt-3 mb-lg-0 position-absolute top-0 end-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('main.home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.signup')}}">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.signup')}}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.logout')}}">Log Out</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu" id = "dropmenu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{url_for('main.profileview',uname=current_user.uname)}}">Profile</a></li>
              
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
            
          </li> -->
         
        </ul>
      
      </div>
    </div>
  </nav>

  <div class="conatiner-fluid">
    <div class="row pt-5">
      <div class="col-md-3">
        <div class="card  mt-5" style="width: 20rem ; height: 40rem;">
          <div class="card-title">
            <h4 class = "text-center pt-5"><strong>CATEGORIES</strong></h4>
          </div>
          <div class="card-body categories">
            <ul class= "text-center  list-unstyled ">
              <li class="lead pt-3"><a href ="/category/1">Pick up Lines</a></li>
              <li class="lead pt-3"><a href ="/category/2">Product Pitches</a></li>
              <li class="lead pt-3"><a href ="/category/3">Promotional Pitches</a></li>
              <li class="lead pt-3"><a href ="/category/4">Interview Pitches</a></li>
            </ul>
          </div>
       </div>
      </div>
      <div class="col-md-9">
        <!-- Content block -->
        {% block content %}


        {% endblock %}
      </div>
    </div>
      
   {%if homepitches%}
     <div class="row">
         <div class="col-md-6">
            <div >
               <img class ="img-fluid" src="static/images/pitcher2.png" alt="">
            </div>
         </div>
         <div class="col-md-6">
           <h3 class= "text-center">PITCHES</h3>
            {% for homepitch in homepitches%}
               <div class="card mt-3 m-auto"style= "width: 50rem;">
                 <div class="card-body" >
                   {{homepitch.pitchwords}}
                 </div>
                <div class= "card-footer">
                  <button><a href = "/comments/{{homepitch.id}}">Comment</a></button>
                  <img  class = "like"src="https://img.icons8.com/external-those-icons-fill-those-icons/24/000000/external-like-touch-gestures-those-icons-fill-those-icons.png"/><p>0</p>
                  <img class ="dislike " src="https://img.icons8.com/external-those-icons-fill-those-icons/24/000000/external-dislike-touch-gestures-those-icons-fill-those-icons.png"/><p>0</p>
                </div>
                </div>
             {% endfor %}
         
      
            </div>
      {% endif %}
 
      </div>
       
    </div>
  </div>
<footer class= "bg-dark text_light bottom-fixed">
  <div class="container-fluid">
     <div class="content-footer text-center">
      <h3><a class="navbar-brand" style="color: white;" href="#"><span id="puro">Puro</span><span id ="trail">TRAIL</span></a></h3>
      <p>©CopyRight </p>
     </div>
    </div>
</footer>
<script type="text/javascript" src="{{url_for('static',filename= 'javascript/app.js')}}"></script>
</body>
</html>