{% extends 'base.html' %}
<!-- Content for the home page -->
{% block content %}

    
      <div class="container-fluid">
        <div class="description mt-3 ">
          <h2 class= " text-center " style="color: black;"><span id="puro">Puro</span><span id ="trail">TRAIL</span></h2>
         
          <p class="text-center ">We believe that it takes 60 seconds to impress someone . That all counts down to explain that our words and
            articulance have a very important imprint. At PuroTrail we offer a platform where you can put out your communication 
            skills. You can also see whether your communication skills ae top-notch or not from votes from other users.
          </p>
       </div>
       <div class="btn btn-dark postbtn">
      
       </div>
       <div class="home-img">
         <img class= "img-fluid" src="static/images/pitcher.png" alt="">
       </div>
      </div>
  

{% endblock %}