{% extends 'base.html'%}
{%block content%}
<p class= "mt-5 pt-5 text-center"><strong>Welcome {{user.username}}</strong></p>
<p class="text-center">Here is a summary for the pitches that you have posted. Feel free to add more pitches to your liking.</p>
{% for pitch in pitches %}
<div class="card">
  <div class="card-body">
    <p class="text-center">{{pitch.pitchwords}}</p>
  </div>
</div>
{% endfor %}
 <!-- <div class="container-fluid">
   <h2 class = "text-center mt-3"><strong>PITCHES</strong></h2>
   <p class= 'text-center'>There are a variety of pitches on this platform. Each pitch is sorted to it's respective categories.</p>

   row for pitches in categories
   <div class="row">
     <div class="col-md-6">
      <div class="card" style="width: auto ;">
        <div class="card-body">
          <h5 class="card-title text-center">INTERVIEW PITCHES</h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
     </div>
     <div class="col-md-6">
      <div class="card" style="width: auto ;">
        <div class="card-body">
          <h5 class="card-title text-center">PICK UP LINES</h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
     </div>
   </div>

     
        <div class="col-md-6">
         <div class="card" style="width: auto ;">
           <div class="card-body">
             <h5 class="card-title">PRODUCT PITCHES</h5>
             <h6 class="card-subtitle mb-2 text-muted"></h6>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <a href="#" class="card-link">Card link</a>
             <a href="#" class="card-link">Another link</a>
           </div>
         </div>
        </div>
      </div>
   


 </div> -->
{% endblock%}